@@charset "UTF-8";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* font-family: 'Raleway', sans-serif; */
/* Blanc : FFFEFC */
/* Gris Clair: E2E3DF */
/* Gris : 515B5E */
/* Gris Foncé : 2E3233 */
/* Vert Clair : CAF200 */
/* Vert Turquoise : 3FD6B1 */
/* Vert Turquoise Foncé : 5ABAAE*/

body {
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

a, a:hover {
  text-decoration: none;

}

.btn-custom {
  background-color: #515B5E;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #2E3233;
  color: #CAF200;
}

/* header */

.separator {
  height: 3px;
  width: 10%;
  border: none;
  box-shadow: none;
  background-color: #3FD6B1;
}

.header {
  background-color: #3FD6B1;
  height: 70px;
  line-height: 70px;
}

.logo {
  background-image: url(../imgs/emoticons-2.png);
  /*color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;*/
}
.logo:hover {
  background-image: url(../imgs/emoticons-1.png);
  /*color: #2E3233;*/
}

.menu {
  float: right;
}

.menu a {
  color: #ffffff;
  margin-right: 20px;
}

.menu a:hover {
  color: #2E3233;
}
.container-fluid {
  padding: 0;

}
/* bannière*/
.banner {
  width: 100%;
  max-width: 100%;
}
.ban {
  width: 100%;
  max-width: 100%;
}

.ban {
  position: relative;
}

.ban img {
  width: 100%;
  max-width: 100%;
}

.inner-banner {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
}
.inner-banner a {
  text-decoration: none;
}

.inner-banner .btn-custom {
  background-color: #3FD6B1;
  color: #ffffff;
}

.inner-banner .btn-custom:hover {
  background-color: #2E3233;

}


/* about */
#about {
  text-align: center;
  padding-top: 10%;
}

.about article {
  padding-top: 10%;

}

.about article h2 {
  text-align: center;

}

/* portfolio */
.portfolio {
  background-color: #eeeeee;
}

#portfolio {
  text-align: center;
}

.portfolio .item-folio {
  height: 100px;
  background-color: #2E3233;
}

.portfolio .item-folio-1 {
  align-content: center;
  height: 400px;
  width: 300px;
  background-image: url(../imgs/livre-1.jpg);
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-left: 50px;
}

.portfolio .item-folio-2 {
  align-content: center;
  height: 400px;
  width: 300px;
  background-image: url(../imgs/livre-2.jpg);
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-left: 50px;
}
/* contact */

.footer {
  background-color: #2E3233;
  height: 550px;
}

.footer p {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

#contact {
  color: #ffffff;
  text-align: center;
}

.formulaireContact {
  width: 500px;
  display: block;
  margin: 0 auto;
  }

input[type=text] {
  height: 50px;
  width: 500px;
  border: none;
}
input[type=mail] {
  height: 50px;
  width: 500px;
  border: none;
}

input[type=password] {
  height: 50px;
  width: 500px;
  border: none;
}
/* Login */

.loginmod {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.loginmod input[type=text] {
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.loginmod input[type=password] {
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.loginmod input[type=mail] {
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}



/* S'inscrire */
.signinmod{
  display : none;
}
.signinmod input[type=date] {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.signinmod input[type=mail] {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.signinmod input[type=password] {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.signinmod input[type=text] {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

/*input {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 25px;
	display: block;
	margin: 0 auto 50px;
	width: 75%;
	border:none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #73556b;
}

/*button {
	border: 3px solid #FFF;
	padding: 0.6em 1.2em;
	background: transparent;
	color: #FFF;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

button:hover {
	background: #FFF;
	color: #f65283;
}

a.logo {
	display: block;
	width: 182px;
	margin: 0 auto;
}

/*h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 60px;
}*/

/*p.intro {
	font-family: 'Lato', sans-serif;
	color:#f65283;
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
	margin: 0 auto 50px;
}*/

/*.container {
	background: url(../img/blur.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 1440px;
	text-align: center;
	padding: 5%;
}

.content {
	max-width: 1300px;
	width: 80%;
	margin: 0 auto;
}*/

.popup-button {
	margin-bottom: 0px;
}

img {
	max-width: 100%;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 250px;
  border-radius: 10px;
	height: auto;
	z-index: 2;
	visibility: hidden;
	background: #2E3233;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.show {
	visibility: visible;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.show ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.popup-content {
	color: #fff;
	position: relative;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
}

.popup-content h2 {
	margin: 0;
	text-align: center;
  margin-top: 10px;
	font-weight: 300;
	position: relative;
}

.popup-content input[type=text]{
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.popup-content input[type=password]{
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.popup-content input[type=mail]{
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.popup-content input[type=date]{
  height: 30px;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}




.popup-content > div {
	padding: 0px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.popup-content > div p {
	margin: 0;
	padding: 10px 0;
}

.popup-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.popup-content > div ul li {
	padding: 5px 0;
}

.popup-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

.close {
	background: url(../imgs/croix.png) no-repeat;
	height: 49px;
	width: 49px;
	position: absolute;
	right: -6px;
	top: -16px;
	z-index: 3;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.close:hover {
	opacity: 0.2;
}


/* Effet blur */
.show.blur-effect ~ .overlay {
	background: rgba(123,53,92,0.4);
}

.show.blur-effect ~ .container, .show.blur-effect ~ .bgall{
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	filter: blur(30px);
}

.blur-effect .popup-content {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
}

.show.blur-effect ~ .container,
.blur-effect .popup-content, .show.blur-effect ~ .bgall {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.show.blur-effect .popup-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.btn-signin {
  background-color: #515B5E;
  color: #ffffff;
}

.btn-signin:hover {
  background-color: #515B5E;
  color: #3FD6B1;
}

.separatorlarge {
  height: 3px;
  width: 30%;
  border: none;
  box-shadow: none;
  background-color: #3FD6B1;
}
